@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 0; 
  padding: 0; 
}

h1 {
  font-size: 68px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 20px;
}
span {
  font-weight: 300;
  color: hsl(0, 42%, 61%);
}

.main {
  display: flex;
  justify-content: space-between;
  color: hsl(0, 9%, 13%);
}

.content {
  width: 50%;
  background: url("./images/bg-pattern-desktop.svg");
  box-sizing: border-box;
  padding: 6rem 8rem;
}

.hero-img {
  height: 100vh;
  width: 42%;
} 

.hero-img > img {
  object-fit: cover;
  width: 100%; 
  height: 100%; 
}

.circle {
  background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%)) border-box;
  border-radius: 50em;
  border: 4px solid transparent;

  width: 40px;
  height: 40px;

  margin-right: 1rem;
}

.logo-block {
  display: flex;
  align-items: center;
  margin-bottom: 6rem;
}

.logo-block > p {
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
  line-height: 24px;
}


